{% load static%}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css'%}">



</head>
<body>

<div class="sidenav">
   <ul>
  <li><a href="{% url 'index'%}">Home</a></li>
   <a href="{% url 'logout' %}">Log Out</a>
  <li><a href="{% url 'login'%}">Login</a></li>
  <li><a href="{% url 'add'%}">New Tool</a></li>
  <li><a href="{% url 'data'%}">Account</a></li>

  </ul>
</div>

<div class="main">
  
    {%block body%}
    {%endblock%}
   
{% block script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

</body>
</html> 
