
{% extends "Tool/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="frm">
          <form action="{% url 'login' %}" method="post">  
           {% csrf_token %}
              <input type="text", name="username", placeholder="Username" class="BTN">
              <input type="password", name="password", placeholder="Password" class="BTN">
              <input type="submit", value="Login" class="sbmt">
         </form>
    </div>
{% endblock %}
